body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;
  margin-bottom: 0 !important;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 2em;
}

h1 {
  margin-top: 0 !important;
  color: darkblue;
}
nav ul {
  justify-content: center;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  background-color: #333;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

#messagebox {
    width: 600px;
}

.timeline {
  position: relative;
  padding: 1rem 0;
}

  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #dee2e6;
    transform: translateX(-50%);
  }

.timeline-item {
  position: relative;
  margin: 2rem 0;
}

.timeline-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.timeline-content {
  padding: 1rem;
  background: #f8f9fa;
  border-radius: 5px;
  width: 45%;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
}

.timeline-item:nth-child(odd) .timeline-content {
  float: left;
}


